.grid{
    display: grid;
}

.col-1-of-2{
    grid-template-columns: repeat(2, 1fr);

    @include respond(mds){
       grid-template-columns: 1fr;
       row-gap: 3rem;
    }
}

.column-gap-lg{
    column-gap: 5rem;
}

.column-gap-md{
    column-gap: 3rem;

    @include respond (mdl) {
        column-gap: 0;
    }
}

.column-gap-sm{
    column-gap: 2rem;
}
