@import "../utilities/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  @include lgrespond(xxxl) {
    font-size: 125%;
  }

  @include respond(md) {
    font-size: 50%;
  }
}

body {
  position: relative;
  background-color: $color-black;
  color: $color-white;
  font-family: $font-text;

  &::selection {
    background-color: $color-orange;
    color: $color-black;
  }
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  //   object-position: center center;
}

.container {
  padding: 8rem 12rem;

  @include respond(lg) {
    padding: 8rem 6rem;
  }

  @include respond(mdl) {
    padding: 8rem 5rem;
  }

  @include respond(mds) {
    padding: 8rem 3rem;
  }

  @include respond(sm) {
    padding: 8rem 3rem;
  }

  @include respond(xs) {
    padding: 8rem 2rem;
  }
}

.container-mg {
  padding: 8rem 0;
  margin: 0 12rem;

  @include respond(lg) {
    padding: 8rem 0;
    margin: 0 6rem;
  }

  @include respond(mdl) {
    padding: 8rem 0;
    margin: 0 5rem;
  }

  @include respond(mds) {
    padding: 8rem 0;
    margin: 0 3rem;
  }

  @include respond(sm) {
    padding: 8rem 0;
    margin: 0 3rem;
  }

  @include respond(xs) {
    padding: 8rem 0;
    margin: 0 2rem;
  }
}

.container-short {
  padding: 0rem 12rem;
  .img-box {
    height: 90dvh;
    width: 100%;

    @include respond(sm) {
      aspect-ratio: 16/9;
    }
    img {
      border-radius: 5px;
      width: 100%;
      object-fit: cover;
      display: block;
    }
  }

  @include respond(lg) {
    padding: 0rem 9rem;
  }

  @include respond(mdl) {
    padding: 0rem 5rem;
  }

  @include respond(mds) {
    padding: 0rem 3rem;
  }

  @include respond(sm) {
    padding: 0rem 3rem;
  }

  @include respond(xs) {
    padding: 0rem 2rem;
  }
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1/-1;

  .loader {
    width: 50px;
    aspect-ratio: 1;
    --_c: no-repeat radial-gradient(farthest-side, #25b09b 92%, #0000);
    background: var(--_c) top, var(--_c) left, var(--_c) right, var(--_c) bottom;
    background-size: 12px 12px;
    animation: l7 1s infinite;
  }
  @keyframes l7 {
    to {
      transform: rotate(0.5turn);
    }
  }
}
