.btn-primary {
  font-size: 1.8rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
}

.btn-secondary {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

.section_heading {
  h2 {
    font-size: 5rem;
    font-weight: 500;
    color: $color-orange;
    letter-spacing: 0.5px;
    // padding-left: 1rem;
  }
}

.admin-heading{
  padding: 0 1rem;
  border-left: 2px solid $color-orange;
  margin-bottom: 4rem;
  h1{
    font-size: 3rem;
    font-weight: 500;
  }

  p{
    font-size: 1.2rem;
    font-weight: 300;
    color: $color-grey;
    margin-top: .3rem;
  }
}

.admin-button-box{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  h5{
    font-size: 2rem;
    letter-spacing: .3px;
    font-weight: 400;
  }
}

.hero-text {
  font-size: 6.5rem;
  line-height: 1.5;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;

  @include respond(md) {
    font-size: 6rem;
  }

  @include respond(sm) {
    font-size: 5rem;
    line-height: 1.3;
  }

  @include respond(xs) {
    font-size: 4rem;
  }

  &_sub {
    color: $color-orange;
    font-weight: 200;
    text-transform: capitalize;
    font-size: 4rem;
    margin-top: -1rem;

    @include respond(sm) {
      font-size: 2.8rem;
      margin-top: 0.5rem;
    }
  }
}

.about-text_box {
  p {
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0.5px;
    font-weight: 300;

    span {
      display: inline-block;

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}

.sub-hero {
  height: calc(75dvh - 2rem);
  margin: 2rem 2rem 0rem;
  background-color: $color-dark;
  display: flex;
  justify-content: center;
  align-items: center;

  @include respond (sm) {
    margin: 1rem 1rem 0;
  }


  h1 {
    font-size: 6rem;
    line-height: 1.3;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;

    @include respond(sm) {
      font-size: 5rem;
    }

    @include respond(xs) {
      font-size: 4rem;
    }

    span {
      color: $color-orange;
    }
  }
}
