.about-me{
    .experience{
        ul{
            li{
                padding: 2rem 0;
                text-transform: capitalize;
                border-bottom: 1px solid $color-grey;
                h4{
                    font-size: 3rem;
                    font-weight: 500;
                    letter-spacing: .5px;
                    margin-bottom: .5rem;
                }

                h5{
                    font-size: 2.5rem;
                    color: $color-grey;
                    margin-bottom: 2rem;
                    font-weight: 500;
                }

                p{
                    font-size: 1.6rem;
                    color: $color-grey;
                    font-weight: 300;
                }
            }
        }
    }

    .clients{
        ul{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            row-gap: 2rem;

            li{
                font-size: 2.5rem;
                font-weight: 500;
                letter-spacing: .5px;
            }
        }
    }
}