.admin-client-lists{
    ul{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 2rem;
        row-gap: 2rem;
        
        @include respond (lg) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include respond (mds) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond (sm) {
            grid-template-columns: 1fr;
        }
        li{
            border: 1px solid $color-grey;
            padding: 1rem;
           
            .text-box{
                margin-bottom: 1rem;
                p{
                    font-size: 2rem;
                    font-weight: 500;
                }
            }

            .button-box{
                display: flex;
                gap: 1rem;
            }
        }
    }
}