.dashboard{
    display: flex;
    background-color: $color-dark;
    min-height: 100dvh;
    position: relative;

    @include respond (lg1) {
        display: none;
    }

    .free-box{
        flex: 0 0 15%;
    }
    .free-box.collapsed{
        flex: 0 0 5%;
    }

    .sidebar.collapsed{
       width: 5%;
       position: fixed;

        // @include respond (md) {
        //     flex: 0 0 3%;
        // }

        .sidebar-logo-box{
            justify-content: center;
            position: relative;
        }

        .sidebar-container{
            padding: 3rem .5rem 7rem;
        }

        .sidebar-logo{
            position: absolute;
            opacity: 0;
        }

        button, a{
            position: relative;
            padding: 1rem 30%;
            span{
                position: absolute;
                opacity: 0;
            }

            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
    }

    .sidebar{
        width: 15%;
        background: $color-black;
        color: $color-white;
        transition: all .05s;
        position: fixed;
        height: 100%;
        left: 0;
        top: 0;

        &-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            padding: 3rem 7.5% 7rem;
            transition: all .05s;
        }

        &-logo-box{
            display: flex;
            justify-content: space-between;
            align-items: center;


            button{
                border: 0;
                color: $color-white;
                background: transparent;
                font-size: 3rem;

                &:hover{
                    filter: brightness(0.85);
                }
            }
        }

        &-logo{
            font-size: 3rem;
            font-weight: 700;
            text-align: center;

        }
        &-links{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 3rem 0;

            a.active{
                background-color: $color-grey;
                color: $color-dark;

                img{
                    filter: brightness(0);
                }
            }

            a{
                color: $color-grey;
                padding: 1rem 2rem;
                font-size: 2rem;
                font-weight: 500;
                position: relative;
                z-index: 0;
                transition: all .1s ease-in;
                background: transparent;
                text-align: center;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .8rem;

                @include respond (lg) {
                    font-size: 1.7rem;
                    padding: 1rem;
                }

                img{
                    width: 20%;
                    transition: all .1s ease-out;
                    
                }

                &::before{
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0%;
                    top: 0;
                    z-index: -1;
                    background-color: $color-grey;
                    transition: all .4s ease-out;
                }

                &::before{
                    left: 0;
                }

                &:hover::before{
                    width: 100%;
                }

                &:hover{
                    color: $color-black;

                    img{
                        filter: brightness(0);
                    }
                }
            }

        }
        &-logout{
            text-align: center;

            button{
                background: transparent;
                color: $color-white;
                padding: 1rem 2rem;
                font-size: 2rem;
                font-weight: 300;
                border: 0;
                border: 1px solid $color-grey;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .8rem;
                transition: all .1s ease;

                @include respond (lg) {
                    padding: 1rem;
                    font-size: 1.8rem;
                }

                img{
                    width: 18%;
                    transition: all .1s ease-out;
                    
                }

                &:focus, &:hover{
                    background-color: $color-dark;
                    transform: scale(1.03);
                }
            }
        }
    }
    .main{
        flex: 1;
        padding: 4rem 4%;
    }
}


.response-message{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    background-color: $color-black;

    @include respond (lg) {
        font-size: 3.5rem;
    }

    @include respond (mdl) {
        font-size: 2.5rem;
    }

    @include lgrespond (lg) {
        display: none;
    }
}