.admin-experience{
    ul{
        display: grid;
        row-gap: 2rem;
        column-gap: 2rem;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 4rem;


        @include respond (lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond (mds) {
            grid-template-columns: 1fr;
        }

        li{
            padding: 2rem 4%;
            display: flex;
            align-items: center;
            border-radius: 1rem;
            background: linear-gradient( 225deg, rgba($color-orange, 0.8) 0%, rgba($color-black, 0.3) 15%);
        }
    }

    .text-box{
        line-height: 1.5;
        flex: 1;
        h4{
            font-size: 2rem;
            font-weight: 500;
        }

        h5{
            font-weight: 400;
            font-size: 1.6rem;
            margin-bottom: 1rem;
        }

        p{
            font-weight: 300;
            color: $color-grey;
            font-size: 1.2rem;
        }
    }

    .button-box{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}


