.portfolio{
    .container{
        @include respond (sm) {
            padding: 4rem 3rem;
        }
    }
    &-header{
        margin-top: 3rem;
        h5{
            font-weight: 300;
            color: $color-grey;
            font-size: 1.6rem;
            margin-top: .3rem;
        }
    }


    &-works{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 3rem;
        margin-top: 5rem;

        @include respond (md) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include respond (mds) {
            grid-template-columns: 1fr;
            row-gap: 3rem;
        }

    }

    &-work{
        height: 300px;
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        transition: all .2s;

        &:focus,&:hover{
            transform: scale(1.02);
        }

        .img-box{
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .text-box{
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            background: rgba($color-dark, 0.98);
            opacity: 0;
            transition: all .2s ease;
            display: flex;
            justify-content: center;
            align-items: center;

            h3{
                font-size: 2rem;
                font-weight: 500;
                letter-spacing: .5px;
                line-height: 1.1;
                color: $color-white;
                transform: translateY(10px);
                transition: all .2s ease;
                text-align: center;
            }

            &:hover, &:focus{
                opacity: 1;
            }

            &:hover h3,  &:focus h3{
                transform: translateY(0);
            }
        }

    }

}

.pages-box{
     margin-top: 5rem;
     display: flex;
     justify-content: center;

    .pagination-box{
        display: flex;
        gap: 1rem;
        align-items: center;

        .pagination-btn{
            padding: 1rem 2rem;
            font-size: 1.8rem;
            border-radius: 5px;
            background: $color-dark;
            color: $color-white;
            border: none;
            // transition: all .2s;

            &-active{
                cursor: not-allowed;
                background: $color-grey;
                color: $color-black;
            }

        }
        .pagination-number{
            padding: 1rem 2rem;
            background: $color-dark;
            color: $color-white;
            font-size: 1.8rem;
            border-radius: 5px;
            border: none;
            border: 4px;
            // transition: all .2s;

            &-active{
                color: $color-black;
                background: $color-orange;
            }
        }
    }
}
