.btn-primary{
    padding: 1.5rem 2.5rem;
    text-decoration: none;
    background-color: #ffffff1f;
    transition: all .2s;
    text-transform: uppercase;
    border-radius: 6px;
    color: inherit;
    display: inline-block;

    &:hover{
        background-color: #ffffff2e;
    }
}

button{
    font-family: $font-text;
}


.btn-secondary{
    padding: 1rem 1.5rem;
    text-decoration: none;
    background-color: $color-orange;
    color: $color-black;
    border-radius: .5rem;
    border-radius: 6px;
    transition: all .2s;

    &:hover{
        filter: brightness(0.8);
        transform: scale(1.05);
        
    }
}


a{
    color: black;
    display: inline-block;
    cursor: pointer;
}

.edit, .delete{
    padding: .5rem 1.5rem;
    border: 0;
    border-radius: 2px;
    font-size: 1.6rem;
    transition: all .2s ease;

    &:hover{
        transform: scale(1.02);
    }
}

.edit{
    background: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
}

.delete{
    background: $color-black;
    color: $color-white;
    border: 1px solid $color-white;
  
}


.admin-button-box{
    button{
        padding: 1rem 2rem;
        border: 0;
        font-size: 1.6rem;
        font-weight: 500;
        background: $color-black;
        color: $color-orange;
        border-radius: 5px;
        transition: all .2s ease-in;

        &:hover{
            filter: brightness(0.9);
            transform: scale(1.02);    
        }
    }
}