.popup-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(30px);
    background: rgba(0, 0, 0, 0.612);
    display: flex;
    justify-content: center;
    align-items: center;


    .popup{
        background: #fff;
        color: black;
        padding: 3% 4%;
        width: 55%;
        position: relative;
        -webkit-animation: scale-in-center 1s ease;
        animation: scale-in-center 1s ease;

        @include respond (lg1) {
         display: none;
        }
    }

    .popup-message{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
        background-color: $color-black;
    
        @include respond (lg) {
            font-size: 3.5rem;
        }
    
        @include respond (mdl) {
            font-size: 2.5rem;
        }
    
        @include lgrespond (lg) {
            display: none;
        }
    }
}

.popupfake{
    background: $color-white;
    height: 100dvh;

     
}