.slide-card {
    flex: 0 0 65%;
    height: 400px;
    scroll-snap-align: center;
    background-color: #fff;
    border-radius: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: transform 0.5s ease, opacity 0.5s ease;
    transform: scale(0.95);
    opacity: 0.6;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

    @include respond(mdm){
      flex: 0 0 100%;
    }
  }
  
  .slide-card.active {
    opacity: 1;
  }
  
  .card-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2rem;
    background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0));
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
  
  .slide-card:hover .card-overlay {
    opacity: 1;
    transform: translateY(0);
  }
  
  .card-overlay h3 {
    margin: 0;
    font-size: 2rem;
    color: $color-white;
  }
  
  .card-overlay p {
    margin-top: 0.5rem;
   font-size: 1.4rem;
   font-weight: 300;
    color: $color-grey;
  }