.about-section{
    .about-text_box{
        padding: 0 1rem 1rem;

        @include respond (sm) {
            padding: 0;
        }
        p{
            margin-bottom: 4rem;

            span{
                display: inline-block;
                
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}