.footer{
    .footer-cta{
        margin: auto;
        padding: 10rem 2rem;
        width: 100%;
        margin-bottom: 5rem;
        border-radius: 10px;
        background-color: $color-dark;
        text-align: center;

        h2{
            font-size: 8rem;
            font-weight: 500;
            font-style: italic;
            color: $color-orange;

            @include respond (sm) {
                font-size: 6.5rem;
            }
        }
    }

    .footer-links{
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
        margin: auto;

        @include respond (mds) {
            grid-template-columns: 1fr;
            row-gap: 3rem;
            width: 100%;
        }

        .footer-contact{
            h3{
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
        }

        .footer-nav, .footer-socials{
            display: flex;
            flex-direction: column;
            align-items: center;

            @include respond (mds) {
                align-items: start;
            }

            a:link, a:visited{
                color: inherit;
                font-size: 1.8rem;
                font-weight: 300;
                transition: all .2s;
                position: relative;                

                &:focus, &:hover{
                    text-decoration: underline;
                    color: $color-black;
                    background: $color-orange;
                    transform: scale(1.1);
                }

                &:not(:last-child){
                    margin-bottom: 1.5rem;
                }
            }
        }

        // .footer-socials{
        //     a{}
        // }
    }

}